.card_container {
  margin: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 350px;
  max-height: 420px;
  text-align: center;
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}

.cards:hover {
  transform: scale(1.08);
}
